body {
  color: #fff;
  overflow-x: hidden;
  height: 100%;
  background-color: #d1c4e9;
  background-repeat: no-repeat;
}

.fieldlabels {
  color: #455a64 !important;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455a64;
  padding-left: 0px;
  margin-top: 30px;
}

#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #step1:before {
  content: "1";
  color: #fff;
}

#progressbar #step2:before {
  content: "2";
  color: #fff;
}

#progressbar #step3:before {
  content: "3";
  color: #fff;
}

#progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: #455a64;
  border-radius: 50%;
  margin: auto;
  padding: 0px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #455a64;
  position: absolute;
  left: 0;
  top: 21px;
  z-index: -1;
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%;
}

#progressbar li:nth-child(2):after {
  left: -50%;
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%;
}

#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #651fff;
}

.card {
  background-color: #651fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 60px 40px 40px 40px;
  z-index: 0;
  display: none;
}

.card.show {
  display: block;
}

.form-control-label {
  font-size: 22px !important;
  color: #fff;
  letter-spacing: 1px;
}

::placeholder {
  color: #fff;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}

::-ms-input-placeholder {
  color: #fff;
  font-weight: 300;
}

input,
textarea,
button {
  background-color: #651fff !important;
  padding: 8px 15px 8px 15px;
  border-radius: 0px !important;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2c3e50;
  background-color: #eceff1;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 18px !important;
  color: #fff !important;
  font-weight: 300;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid #9fa8da;
  outline-width: 0;
  font-weight: 400;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.circle {
  position: relative;
}

.fa-long-arrow-right {
  color: #651fff;
  background-color: #fff;
  padding: 12px;
  margin: 5px;
  border-radius: 50%;
  border: 3px solid #651fff;
  position: absolute;
  left: -28px;
  top: 12px;
  cursor: pointer;
}

.fa-long-arrow-right:hover {
  color: #fff;
  background-color: #b39ddb;
}

.fa-long-arrow-left {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  cursor: pointer;
}

.check-mark {
  width: 180px;
  height: 180px;
}
